.s-faq {
  background: #6c6e68;
  &__tag {
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 35px;
    }
  }
  &__spollers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__spoller {
    background: #faf7f5;
    color: #3c3c3c;
    border: 1px solid #898e81;
    border-radius: 10px;
    overflow: hidden;
    @include tablet-min {
      border-radius: 5px
    }
  }
  &__spoller-btn {
    @include flex-between;
    cursor: pointer;
    padding: 14px 20px;
    gap: 15px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    transition: color .3s ease;
    @include hover {
      color: var(--primary);
    }
    @include tablet {
      font-size: 14px;
      padding: 20px 10px;
    }

    &._spoller-active {
      svg {
        transform: rotate(45deg);
      }
    }

    svg {
      width: 34px;
      height: 34px;
      transition: transform 0.3s ease;
      flex-shrink: 0;
      @include tablet {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__spoller-body {
    padding: 5px 20px 20px 20px;
    @include tablet {
      padding: 0px 10px 20px 10px;
    }
  }
  &__spoller-content {
    max-width: 950px;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.03em;
    @include tablet {
      font-size: 14px;
    }
  }
}
