.body-hidden {
  overflow: hidden;
  touch-action: none;
}
.body {
}

.content {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;

  @include tablet {
    font-size: 14px;
  }
}

.sect-p {
  padding: 80px 0px;
  @include laptop-min {
    padding: 50px 0px;
  }
}

.tag {
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #727272;
  padding: 6px 27px;
  border: 1px solid #727272;
  border-radius: 5px;
  min-width: 100px;

  &._white {
    border-color: white;
    color: white;
  }

  @include tablet {
    font-size: 12px;
    padding: 5px 17px;
    min-width: 80px;
  }
}

.sect-head {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  @include tablet-min {
    flex-direction: column-reverse;
  }

  &._reverse {
    @media (min-width: 576px) {
      flex-direction: row-reverse;
      .s-title {
        text-align: right;
      }
    }
  }
}

.preview {
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    background-color: #686059;
    opacity: 0.2;
    inset: 0;
    z-index: 1;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 275px;
    object-fit: cover;
  }
}
