<footer class="footer">
	<div class="container">
		<div class="footer__wrapper">
			<div class="footer__main">
				<a href="/" class="footer__logo">Barcelona event</a>
				<a href="#modal-connect" data-fancybox class="btn-s footer__main-btn _desk">Связаться</a>
			</div>
			<div class="footer__nav">
				<div class="footer__nav-item">
					<div class="footer__nav-title">Контакты</div>
					<a href="tel:+74994040132" class="footer__contacts-btn">+7 499 404 01 32</a>
					<div class="footer__contacts-wrapper">
						<a href="mailto:info@romantic-stream.ru" class="footer__contacts-btn">info@romantic-stream.ru</a>
						<div class="footer__social">
							<a href="#" target="_blank" class="footer__social-btn">
								<svg>
									<use xlink:href='img/icons/icons.svg#icon-wh'></use>
								</svg>
							</a>
							<a href="#" target="_blank" class="footer__social-btn">
								<svg>
									<use xlink:href='img/icons/icons.svg#icon-inst'></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="footer__nav-item">
					<div class="footer__nav-title">Документы</div>
					<ul class="list footer__nav-list">
						<li><a href="#">Политика конфиденциальности</a></li>
						<li><a href="#">Пользовательское соглашение</a></li>
					</ul>
				</div>
			</div>
		</div>
		<a href="#modal-connect" data-fancybox class="btn-s footer__main-btn _mob">Связаться</a>
	</div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>