<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <ul class="list header__list-lang">
        <li><a href="#">ENG</a></li>
        <li><a href="#">ESP</a></li>
      </ul>
      <a href="/" class="header__logo">Barcelona event</a>
      <div class="header__burger-btn" id="burger-open">
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</header>

<div class="burger-wrapper" id="burger-wrapper">
  <div class="burger-overlay" id="burger-overlay"></div>
  <div class="burger" id="burger">
    <div class="burger__close" id="burger-close">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
    <nav class="burger__nav">
      <ul class="list burger__list">
        <li><a href="#">Главная страница</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>
    <div class="burger__buttons">
      <a href="#modal-connect" data-fancybox class="btn-s burger__btn">
        Обратный звонок
      </a>
      <a href="#" target="_blank" class="btn-s burger__btn _outline">
        Написать в WhatsApp
      </a>
    </div>
  </div>
</div>
