<section class="sect-p s-about">
  <div class="container">
    <div class="s-about__wrapper">
      <div class="s-about__body">
        <div class="tag _white">О нас</div>
        <h2 class="s-title s-about__title">
          8 лет превращаем
          <span>ваши идеи в события</span>
        </h2>
        <p class="content s-about__content">
          Меня зовут Яна, я основатель агентства по организации мероприятий,
          которое работает по всей Европе. За последние 8 лет мы провели более
          30,000 успешных мероприятий.
        </p>
      </div>
      <img src="@img/about.jpg" alt="image" class="s-about__img">
    </div>
  </div>
</section>
