<section class="s-gallery sect-p">
  <div class="container">
    <h2 class="s-title s-gallery__title _center _dark" data-aos="fade-up" data-aos-duration="500">
      Превращаем вашу историю
      <br />
      <span>в настоящее событие</span>
    </h2>
    <p  class="s-gallery__quote" data-aos="fade-up" data-aos-duration="500">
      Свадьба - это отражение вашего вкуса, ритма жизни и внутреннего ощущения
      прекрасного. Все это мы объединяем в целостную картину и превращаем в
      незабываемую атмосферу события, сделанного исключительно под вас самих.
    </p>
    <div class="s-gallery__history-grid">
      <div
        class="s-gallery__item-gallery" data-aos="fade" data-aos-duration="500"
        style="
          background: url(&quot;@img/intro.jpg&quot;) center / cover no-repeat;
        "
      ></div>
      <div class="s-gallery__item-descr" data-aos="fade-up" data-aos-duration="500">
        <span>
          <h5>Берем все на себя</h5>
          <p>Беремся за любые ивент идеи - от камерных до масштабных</p>
        </span>
      </div>
      <div class="s-gallery__item-descr _fill" data-aos="fade-up" data-aos-duration="500">
        <span>
          <h5>концепция, подкрепленная смыслами</h5>
          <p>
            Мы заинтересованы в том, чтобы узнать историю вашей пары, где
            познакомились, что вас связывает, какие моменты хочется сохранить в
            памяти. Уделяем особое внимание вашему стилю, желаниям и антипатиям.
            На основе этого создаем концепцию, которая будет отражать именно
            вас.
          </p>
        </span>
      </div>
      <div class="s-gallery__item-descr" data-aos="fade-up" data-aos-duration="500">
        <span>
          <h5>прозрачные условия</h5>
          <p>
            Работаем по договору, согласовываем бюджет, фиксируем сроки, чтобы
            вы чувствовали себя спокойно в юридических вопросах.
          </p>
        </span>
      </div>
      <div
        class="s-gallery__item-gallery" data-aos="fade" data-aos-duration="500"
        style="
          background: url(&quot;@img/place.jpg&quot;) center / cover no-repeat;
        "
      ></div>
      <div class="s-gallery__item-descr" data-aos="fade-up" data-aos-duration="500">
        <span>
          <h5>надежные партнеры</h5>
          <p>
            Работаем только с проверенными подрядчиками, чье качество
            соответствует высокому уровню и нашему подходу.
          </p>
        </span>
      </div>
    </div>
    <a href="#modal-price" data-fancybox class="btn-s s-gallery__btn">Рассчитать стоимость</a>
  </div>
</section>
