<section class="s-faq sect-p">
  <div class="container">
    <div class="tag _white s-faq__tag">FAQ</div>
    <div data-spollers class="s-faq__spollers">
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Как забронировать мероприятие?</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-plus"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <p class="s-faq__spoller-content">
              Для бронирования мероприятия, пожалуйста, заполните форму на нашем
              сайте или свяжитесь с нами по телефону. Мы свяжемся с вами для
              уточнения всех деталей.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Как забронировать мероприятие?</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-plus"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <p class="s-faq__spoller-content">
              Для бронирования мероприятия, пожалуйста, заполните форму на нашем
              сайте или свяжитесь с нами по телефону. Мы свяжемся с вами для
              уточнения всех деталей.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Как забронировать мероприятие?</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-plus"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <p class="s-faq__spoller-content">
              Для бронирования мероприятия, пожалуйста, заполните форму на нашем
              сайте или свяжитесь с нами по телефону. Мы свяжемся с вами для
              уточнения всех деталей.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Как забронировать мероприятие?</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-plus"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <p class="s-faq__spoller-content">
              Для бронирования мероприятия, пожалуйста, заполните форму на нашем
              сайте или свяжитесь с нами по телефону. Мы свяжемся с вами для
              уточнения всех деталей.
            </p>
          </div>
        </div>
      </div>
      <div class="s-faq__spoller">
        <div data-spoller class="s-faq__spoller-btn">
          <span>Как забронировать мероприятие?</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-plus"></use>
          </svg>
        </div>
        <div>
          <div class="s-faq__spoller-body">
            <p class="s-faq__spoller-content">
              Для бронирования мероприятия, пожалуйста, заполните форму на нашем
              сайте или свяжитесь с нами по телефону. Мы свяжемся с вами для
              уточнения всех деталей.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
