<section class="s-gallery sect-p">
  <div class="container">
    <div class="s-gallery__head">
      <h2
        data-aos="fade-right"
        data-aos-duration="500"
        class="s-title s-gallery__title"
      >
        Мероприятия
        <br />
        <span>для любого повода</span>
      </h2>
      <div class="tag">Услуги</div>
    </div>
    <div class="s-gallery__events-grid">
      <a
        href="#"
        class="s-gallery__item-gallery"
        data-aos="fade"
        data-aos-duration="500"
        data-aos="fade"
        data-aos-duration="500"
        style="
          background: url(&quot;@img/event.jpg&quot;) center / cover no-repeat;
        "
      >
        <h5 class="s-gallery__item-title">Предложения руки и сердца</h5>
      </a>
      <div
        class="s-gallery__item-descr"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos="fade-up"
        data-aos-duration="500"
      >
        <span>
          <p>Беремся за любые ивент идеи - от камерных до масштабных</p>
        </span>
      </div>
      <a
        href="#"
        class="s-gallery__item-gallery"
        data-aos="fade"
        data-aos-duration="500"
        data-aos="fade"
        data-aos-duration="500"
        style="
          background: url(&quot;@img/event-2.jpg&quot;) center / cover no-repeat;
        "
      >
        <h5 class="s-gallery__item-title">Романтические свидания</h5>
      </a>
      <div
        class="s-gallery__item-descr"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos="fade-up"
        data-aos-duration="500"
      >
        <span>
          <p>
            Каждый проект создаем с нуля, под ваши желания, стиль и настроение
          </p>
        </span>
      </div>
      <a
        href="#"
        class="s-gallery__item-gallery"
        data-aos="fade"
        data-aos-duration="500"
        data-aos="fade"
        data-aos-duration="500"
        style="
          background: url(&quot;@img/event-3.jpg&quot;) center / cover no-repeat;
        "
      >
        <h5 class="s-gallery__item-title">Дни Рождения</h5>
      </a>
      <div
        class="s-gallery__item-descr"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos="fade-up"
        data-aos-duration="500"
      >
        <span>
          <p>
            Рассчитываем смету мероприятия - без неожиданных «доплат в процессе»
          </p>
        </span>
      </div>
      <a
        href="#"
        class="s-gallery__item-gallery"
        data-aos="fade"
        data-aos-duration="500"
        data-aos="fade"
        data-aos-duration="500"
        style="
          background: url(&quot;@img/event-4.jpg&quot;) center / cover no-repeat;
        "
      >
        <h5 class="s-gallery__item-title">Свадьбы</h5>
      </a>
    </div>
    <a href="#modal-price" data-fancybox class="btn-s s-gallery__btn">
      Рассчитать стоимость
    </a>
  </div>
</section>
