<section class="sect-p s-media">
  <div class="container">
    <div class="sect-head _reverse">
      <h2 class="s-title _dark" data-aos="fade-up" data-aos-duration="500">
        Вдохновитесь историями
        <span>наших влюбленных пар</span>
      </h2>
      <div class="tag">Галерея</div>
    </div>
    <div class="s-media__gallery-wrapper">
      <div class="s-media__gallery">
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
        <a href="@img/media.jpg" data-fancybox="media" class="s-media__item" data-aos="fade" data-aos-duration="500">
          <img src="@img/media.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-nav s-media__slider-nav">
      <div class="slider-nav__btn _prev">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="slider-nav__btn _next">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
