<section class="s-reviews">
  <div class="s-reviews__body">
    <div class="container">
      <div class="tag s-reviews__tag _white">Отзывы</div>
      <div class="s-reviews__slider-wrapper">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-prev'></use>
          </svg>
        </div>
        <div class="swiper s-reviews__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide s-reviews__slide">
              <h3 class="s-reviews__slide-title">Михаил & Елизавета</h3>
              <p class="s-reviews__slide-content">
                «Спасибо, что сделали наш день по-настоящему волшебным! Всё было
                именно так, как мы мечтали: лёгкая атмосфера, живая музыка, тёплый
                свет гирлянд, красивые детали, вкусная еда. Вы учли каждое наше
                пожелание, помогли не волноваться и наслаждаться моментом. Гости
                были в восторге! А мы с любовью пересматриваем фото и видео. Очень
                рады, что выбрали именно вас»
              </p>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <h3 class="s-reviews__slide-title">Михаил & Елизавета</h3>
              <p class="s-reviews__slide-content">
                «Спасибо, что сделали наш день по-настоящему волшебным! Всё было
                именно так, как мы мечтали: лёгкая атмосфера, живая музыка, тёплый
                свет гирлянд, красивые детали, вкусная еда. Вы учли каждое наше
                пожелание, помогли не волноваться и наслаждаться моментом. Гости
                были в восторге! А мы с любовью пересматриваем фото и видео. Очень
                рады, что выбрали именно вас»
              </p>
            </div>
            <div class="swiper-slide s-reviews__slide">
              <h3 class="s-reviews__slide-title">Михаил & Елизавета</h3>
              <p class="s-reviews__slide-content">
                «Спасибо, что сделали наш день по-настоящему волшебным! Всё было
                именно так, как мы мечтали: лёгкая атмосфера, живая музыка, тёплый
                свет гирлянд, красивые детали, вкусная еда. Вы учли каждое наше
                пожелание, помогли не волноваться и наслаждаться моментом. Гости
                были в восторге! А мы с любовью пересматриваем фото и видео. Очень
                рады, что выбрали именно вас»
              </p>
            </div>
          </div>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-next'></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="s-reviews__gallery">
    <img src="@img/reviews.jpg" alt="image">
  </div>
</section>
