<section class="s-steps sect-p">
  <div class="container">
    <div class="sect-head s-steps__head">
      <h2 class="s-title _dark s-steps__title">
        Сценарий нашего
        <br />
        <span>сотрудничества</span>
      </h2>
      <div class="tag">Этапы работы</div>
    </div>
    <div class="s-steps__row-head">
      <div data-da=".s-steps__row-bottom,991,1" class="s-steps__item">
        <div class="s-steps__item-head">
          <h5 class="s-steps__item-title">Концепция</h5>
          <div class="s-steps__num">2</div>
        </div>
        <p class="s-steps__item-content">
          Прорабатываем все детали мероприятия, продумываем стилистику,
          визуальный образ и презентуем вам итоговую концепцию.
        </p>
      </div>
      <div data-da=".s-steps__row-bottom,991,2" class="s-steps__item">
        <div class="s-steps__item-head">
          <h5 class="s-steps__item-title">Согласование</h5>
          <div class="s-steps__num">4</div>
        </div>
        <p class="s-steps__item-content">
          Утверждаем с вами финальные штрихи: макеты, сценарий, исполнителей,
          программу, итоговую смету.
        </p>
      </div>
    </div>
    <div class="s-steps__row-bottom">
      <div class="s-steps__item">
        <div class="s-steps__item-head">
          <h5 class="s-steps__item-title">Знакомство</h5>
          <div class="s-steps__num">1</div>
        </div>
        <p class="s-steps__item-content">
          Мы знакомимся с вами и вашим запросом, обсуждаем детали, предлагаем
          варианты реализации и рассчитываем предварительную стоимость.
        </p>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-head">
          <h5 class="s-steps__item-title">Подготовка</h5>
          <div class="s-steps__num">3</div>
        </div>
        <p class="s-steps__item-content">
          Мы занимаемся подготовкой предстоящего мероприятия: собираем команду
          исполнителей, разрабатываем декор, бронируем площадку.
        </p>
      </div>
      <div class="s-steps__item">
        <div class="s-steps__item-head">
          <h5 class="s-steps__item-title">Мероприятие</h5>
          <div class="s-steps__num">5</div>
        </div>
        <p class="s-steps__item-content">
          В день события мы полностью берём на себя контроль за ходом
          мероприятия. Вы отдыхаете и получаете удовольствие.
        </p>
      </div>
    </div>
  </div>
</section>
